<form class="form-horizontal well right-sidebar text-center">
    <fieldset>
        <center>
            <h3>Haz tu pedido en</h3>
            <div class="form-group">

                <ul class="list-group">
                    <li class="list-group-item-heading">
                        Concepcion Del Uruguay
                        <a class="badge glyphicon glyphicon-earphone"></a>
                    </li>
                    <li class="list-group-item-heading">
                        Colón
                        <a class="badge glyphicon glyphicon-earphone"></a>
                    </li>
                    <li class="list-group-item-heading">
                        San José
                        <a class="badge glyphicon glyphicon-earphone"></a>
                    </li>
                </ul>
            </div>
            <button class="btn boton-sm">
                <span class="glyphicon glyphicon-hand-right">
                    @Html.ActionLink("ENCARGAR AHORA!", "NuevoPedido", "Pedidoes", new { })
                </span>
            </button>
            <br />
            <h3>Encontranos en</h3>
            <div class="form-group">
                <a>
                    <input href="~/" type="image" src="~/Content/Images/facebook_48.png" alt="Submit" width="48" height="48" />
                </a>
                <a class="list-group-item-text">
                    <input href="~/" type="image" src="~/Content/Images/twitter_48.png" alt="Submit" width="48" height="48" />
                </a>
                <a class="list-group-item-text">
                    <input href="~/" type="image" src="~/Content/Images/instagram_48.png" alt="Submit" width="48" height="48" />
                </a>
            </div>
        </center>
    </fieldset>
</form>