<div class="panel-group">
    <div id="slideShowImages">
        <img src="~/Content/Images/1.png" alt="Slide 1" />
        <img src="~/Content/Images/2.png" alt="Slide 2" />
        <img src="~/Content/Images/pizza-2.jpg" alt="Slide 3" />
    </div>
    <script src="~/Scripts/mySlides.js"></script>
</div>
