@{
    ViewBag.Title = "SUPER PIZZA";
}

<body>
    <div class="col">
        <form class="fixedPosition right-sidebar jumbotron">
            <fieldset>
                <legend class="text-center">Haz tu pedido</legend>
                <div>
                    <button href="~/" class="boton-sm"><span>CONCEPCION DEL URUGUAY</span></button> <br />
                    <button href="~/" class="boton-sm"><span>COLON</span> </button> <br />
                    <button href="~/" class="boton-sm"><span>SAN JOSE</span></button> <br />
                </div> <br />
                <legend class="text-center">Encontranos en</legend>
                <div class="col">
                    <input href="~/" type="image" src="~/Content/Images/facebook_48.png" alt="Submit" width="48" height="48" />
                    <input href="~/" type="image" src="~/Content/Images/twitter_48.png" alt="Submit" width="48" height="48" />
                    <input href="~/" type="image" src="~/Content/Images/instagram_48.png" alt="Submit" width="48" height="48" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="left-side-body">
        <div>
            <div id="slideShowImages">
                <img src="~/Content/Images/1.png" alt="Slide 1" />
                <img src="~/Content/Images/2.png" alt="Slide 2" />
                <img src="~/Content/Images/pizza-2.jpg" alt="Slide 3" />
            </div>
            <script src="~/Scripts/mySlides.js"></script>
        </div>
        <br />

        <div class="left-side-body left-side-content">
            <span>
                <h2>DESTACADAS</h2>
                <ul class="list-inline">
                    <li class="col-sm-3 list-group-item">
                        <h3 class="text-center list-group-item-heading">Especial</h3>
                        <center class="well">
                            <img class="imagen1" src="~/Content/Images/pizza-1.jpg" height="128" width="128" /> <br />
                            <a href="~/" class="boton-comprar"><span>¡ENCARGAR!</span></a>
                        </center>
                    </li>
                    <li class="col-sm-3 list-group-item">
                        <h3 class="text-center list-group-item-heading">Especial</h3>
                        <center class="well">
                            <img class="imagen1" src="~/Content/Images/pizza-1.jpg" height="128" width="128" /> <br />
                            <a href="~/" class="boton-comprar"><span>¡ENCARGAR!</span></a>
                        </center>
                    </li>
                    <li class="col-sm-3 list-group-item">
                        <h3 class="text-center list-group-item-heading">Especial</h3>
                        <center class="well">
                            <img class="imagen1" src="~/Content/Images/pizza-1.jpg" height="128" width="128" /> <br />
                            <a href="~/" class="boton-comprar"><span>¡ENCARGAR!</span></a>
                        </center>
                    </li>
                    <li class="col-sm-3 list-group-item">
                        <h3 class="text-center list-group-item-heading">Especial</h3>
                        <center class="well">
                            <img class="imagen1" src="~/Content/Images/pizza-1.jpg" height="128" width="128" /> <br />
                            <a href="~/" class="boton-comprar"><span>¡ENCARGAR!</span></a>
                        </center>
                    </li>
                </ul>
            </span>
            <br />

            <span>
                <h2>COMENTARIOS</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <center class="well">
                            <p>
                                Enviado <b>@DateTime.Now.AddDays(-4).ToShortDateString();</b>
                                <i>
                                    "Muy buena la pizza que encargamos anoche"
                                </i>
                            </p>
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center class="well">
                            <p>
                                Enviado <b>@DateTime.Now.AddDays(-2).ToShortDateString();</b>
                                <i>
                                    "Nos encantaron las empanadas fritas que pedimos con la flia. Todo muy rico."
                                </i>
                            </p>
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center class="well">
                            <p>
                                Enviado <b>@DateTime.Now.ToShortDateString();</b>
                                <i>
                                    "Paso a decir que nos encantaron las pizzas que comimos ayer.
                                    -Juan Manuel."
                                </i>
                            </p>
                        </center>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</body>