ul {
    list-style-type: none;
}

.calendario * {
    box-sizing: border-box;
}

.calendar-header {
    margin: 0;
    padding: 10px 0px;
    background: white;
    padding: 0;
            text-align:center;
}

    .calendar-header li {
        display:inline-block;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .calendar-header .prev {
        float: left;
        padding-top: 10px;
    }

    .calendar-header .next {
        float: right;
        padding-top: 10px;
    }

.calendar-sub-header {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .calendar-sub-header li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

.calendar-body {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

    .calendar-body li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

        .calendar-body li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important;
        }

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .calendar-sub-header li, .calendar-body li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .calendar-sub-header li, .calendar-body li {
        width: 12.5%;
    }

        .calendar-body li .active {
            padding: 2px;
        }
}

@media screen and (max-width: 290px) {
    .calendar-sub-header li, .calendar-body li {
        width: 12.2%;
    }
}

.event {
    /*box-sizing: border-box;*/
    background: tomato;
}

.event-header {
    margin: 10px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.event-sub-header {
    margin: 0;
    background-color: #ddd;
}

    .event-sub-header input {
        display: inline-block;
        margin: 3px;
        text-align: center;
    }

.event-search {
    float: right;
    line-height: 25px;
}

.event-body {
    background: #eee;
    margin: 0;
}

    .event-body ul {
        margin: 0;
    }

        .event-body ul li {
            list-style-type: none;
            margin-bottom: 5px;
            font-size: 12px;
            color: #777;
            letter-spacing: 2px;
        }
