
@{
    ViewBag.Title = "Listado de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well" style="margin-top:10px">
        <h2>Pedidos</h2>
        <hr />
        <h4>Listado de Pedidos</h4>
        <br />
        <button class="btn btn-primary">Refrescar Listado</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Detalles</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Suarez Juan</td>
                    <td>11/08/16</td>
                    <td><a href="#">Ver Detalles</a></td>
                    <td>En espera de confirmación</td>
                    <td><a href="#">Confirmar</a> | <a href="#">Rechazar</a></td>
                </tr>
                <tr>
                    <td>Dominguez Juana</td>
                    <td>11/08/16</td>
                    <td><a href="#">Ver Detalles</a></td>
                    <td>Confirmado</td>
                    <td><a href="#">Facturar</a></td>
                </tr>
                <tr>
                    <td>Maxit Fernando</td>
                    <td>10/08/16</td>
                    <td><a href="#">Ver Detalles</a></td>
                    <td>Facturado</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <br />
        <br />
        @Html.ActionLink("<- Volver al Inicio", "Index", "Home")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

